*{
    padding: 0px;
    margin: 0px;
}
#headerPart{
    display: flex;
    margin: auto;
    width: 95%;
    height: 700px;
    /* border: 1px solid black; */
    gap: 20px;
}
#firstImage{
    width: 50%;
    height: 100%;
    /* border: 1px solid green; */
    background-image: url("https://pisces.bbystatic.com/image2/BestBuy_US/dam/MMT-510776_2022TopDeals-GHPApp-LV-55adde1f-dd0b-48d7-9a08-b28bbc00187d.jpg");
    background-position: center;
    background-repeat: no-repeat;
    
}
#firstImage>h2{
    text-align: center;
    margin-top: 400px;
    font-size: 30px;
    color: white;
    font-weight: bold;
}
#firstImage>h2+button{
    align-items: center;
    margin-left: 350px;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
    border: 0px;
    border-radius: 5px;
    color: rgb(67, 67, 212);
}
#firstImage>h2+button:hover{
    background-color: rgb(67, 67, 212);
    color: white;
}
#secondImage{
    width: 50%;
    height: 100%;
    /* box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px; */
}
#secondImage>img+p{
    margin-top: 10px;
}
#firstBox{
    width: 100%;
    height:auto;
    background-color: whitesmoke;
    margin-top: 28px;
}
#firstBox>h2{
    font-size: 18px;
    margin-left: 15px;
   
}
#insideBox{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(1,auto);
  
}

#firstImg>img{
    width: 60%;
    margin-left: 15px;
    
   
}
#firstImg>img+p{
    color: blue;
}
#firstImg>img+p:hover{
    text-decoration: underline;
}
#secondImg>img{
    width: 80%;
    margin-left: 15px;
}
#secondImg>img+p{
    margin-top: 40px;
    color: blue;
}
#secondImg>img+p:hover{
    text-decoration: underline;
}
#thirdImg>img{
    width: 80%;
    margin-left: 15px;
    
}
#thirdImg>img+p{
    margin-top: 30px;
    color: blue;
}
#thirdImg>img+p:hover{
    text-decoration: overline;
}
#fourthImg>img{
    width: 50%;
    margin-left: 20px;
  
}
#fourthImg>img+p{
    margin-top: 10px;
    color: blue;
}
#fourthImg>img+p:hover{
    text-decoration: underline;
}

#secondBox{
    width: 100%;
    height: 390px;
    width: 100%;
    display: flex;
    margin-top: 40px;
    gap: 20px;
    
    
}

/* #secondBox{
    width: 100%;
    display: flex;
    margin-top: 40px;
    
} */

#firstPart{
    width: 50%;
    height: 100%;
   
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    
}
#firstPart>button{
    height: 30px;
    margin: 10px 0 0 10px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: rgb(66, 66, 177);
    border: 0px;
    border-radius: 5px;
}
#firstPart>button+h1{
    color: brown;
    text-align: center;
    font-size: 45px;
    margin-top: 100px;
}
#firstPart>button+h1+h3{
margin-top: 120px;
color: blue;
font-size: 15px;
}

#secondPart{
    width: 50%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    
}
#secondPart>img{
    width: 90%;
    height: 60%;
} 
#secondPart>img+p{
    color: blue;
}
/* End the Header part..... */
#middlePart{
    width: 95%;
    height: 400px;
    /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
    margin: auto;
    margin-top: 50px;
    
}
#middlePart>div>h2{
    border-bottom: 1px solid rgb(188, 184, 184);
}

#iconImage{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(1,250px);
    gap: 10px;
}
#iconImage>div{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
#Icon1{
    width: 40%;
    height: 60%;
    margin:20px 0 0 35px;
}
#Icon2{
    width: 40%;
    height: 60%;
    margin:20px 0 0 35px;
}
#Icon3{
    width: 80%;
    margin:35px 0 0 20px;
}
#Icon4{
    width: 80%;
    margin: 35px 0 0 20px ;
}
#Icon5{
    width: 40%;
    height: 35%;
    margin: 45px;
}
#Icon5+p{
    margin-top: 0px;
}

#smallImg{
    width: 95%;
    height: 100px;
   
    margin: auto;
    margin-top: 10px;
    display: flex;
    gap: 10px;

}
#shortImg1{
    width: 50%;
    height: 80px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    margin-top: 10px;
}
#shortImg1>img{
    margin-top: 5px;
    margin-left: 300px;
}
#shortImg1>img+h2{
    text-align: end;
    margin-top: -70px;
    margin-right: 30px;
}
#shortImg1>img+h2+p{
    text-align: end;
    margin-right:150px;
    margin-top: 10px;
}
#shortImg2{
    width: 50%;
    height: 80px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    margin-top: 10px;

}
#shortImg2>img{
    margin-top: 5px;
    margin-left: 240px;
}
#shortImg2>img+h2{
    text-align: end;
    margin-top: -70px;
    
}
#shortImg2>img+h2+h3{
    text-align: end;
  
   margin-right: 30px;
    
}
#shortImg2>img+h2+h3+p{
    text-align: end;
    margin-right:260px;
    
}
#border{
    width: 95%;
    height: 100px;
    border: 1px solid black;
    background-color: yellow;
    margin: auto;
    margin-top: 10px;
 border: 1px solid yellow;
}
#border>h2{
text-align: center;
color: balck;
margin-top: 40px;
}
#photoPic{
    width: 95%;
    height: 500px;
    /* border: 1px solid red; */
    margin: auto;
    margin-top: 10px;
    display: flex;
    gap: 10px;
}
#mobilePic{
    width: 50%;
    height: 100%;
    border: 1px solid black;
    background-image: url("https://pisces.bbystatic.com/image2/BestBuy_US/dam/MMT-566876-pixel6a-subghp-3811a5d5-fb45-4794-ad1e-e89d89b86fcc.jpg");
    background-repeat: no-repeat;
    background-position: center;
   
}
#mobilePic>h1{
    margin-left: 35px;
    font-size: 45px;
    font-weight: bold;
}
#mobilePic>h1+p{
    margin-left: 45px;
}
#mobilePic>h1+p+p{
    margin-left: 45px;
    margin-top: 10px;
    
   
}
#mobilePic>h1+p+p+p{
    margin-left: 45px;
    margin-top: 0px;
   
}
#mobilePic>h1+p+p+p+button{
    margin-top: 10px;
    margin-left: 45px;
    height: 25px;
    font-size: 15px;
    color:white;
    background-color: blue;
    border: 0px;
    border-radius: 5px;
}
#laptopPic{
    width: 50%;
    height: 100%;
    border: 1px solid black;
    background-image: url("https://pisces.bbystatic.com/image2/BestBuy_US/dam/subghp-MMT-555591-tv-4ef8f148-989d-4846-ae5c-65854b349e5b.jpg");
    background-position: center;
    background-repeat: no-repeat;
}
#laptopPic>h1{
    margin-left: 15px;
    font-weight: bold;
    font-size: 45px;
}
#laptopPic>h1+p{
    margin-left: 15px;  
}
p+p{
    margin-left: 15px;
}
p+p+button{
    height: 25px;
    margin-top: 10px;
    font-size: 15px;
    margin-left: 15px;
    background-color: blue;
    color: white;
    border: 0px;
    border-radius: 5px;
}
#ready{
    width: 95%;
    height: 100px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,150px);
    margin: auto;
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
/* #ready>div{
    border: 1px solid hotpink;
} */
#iconic1>img{
    height: 50%;
    margin-top: 25px;
    margin-left: 175px;
}
#iconic1>img+h2{
    float: right;
     margin-top: 35px;
}
#iconic1>img+h2+p{
    float: right;
   margin-top: -40px;
}
.iconic2>img{
    height: 50%;
    margin-top: 25px;
    margin-left: 15px;
    
}
.iconic2>img+h2+p{
    float: left;
    
    margin-left: 100px;
}
.iconic2>img+h2{
    
     margin-top: -65px;
     margin-left: 100px;
}
#bottom{
    display: flex;
    width: 95%;
    height: 650px;
    margin: auto;
    margin-top: 20px;
    
    gap: 20px;
    /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
}
#school{
    width: 33%;
    height: 100%;
    /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
}
.one{
display: flex;
width: 100%;
height: 45%;
/* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
}
.one>div{
    width: 50%;
    height: 90%;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.one>div>img{
   width: 90%;
   margin-left: 10px;
    
}
.one>div>img+h3{
    margin-left: 10px;
    color: blue;
}
#pagloImg>img{
    width: 90%;
    height: 200px;
}
/* .two{
 display: flex;
width: 100%;
height: 45%;
border: 1px solid grey;
}
.two>div{

} */
#schoolyear{
    width: 33%;
    height: 100%;
    /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
}
#college{
    width: 33%;
    height: 100%;
    /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
}
#footer>h2{
    margin-left: 35px;
    border-bottom: 1px solid rgb(137, 129, 129);
    width: 95%;
}

#footerSection{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,450px);
    width: 95%;
    margin: auto;
    margin-top: 10px;
}

#footerSection>div{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.imageSection>img{
    width: 70%;
    margin: 20px 60px 0 60px;
   
}
.imageSection>img+h2{
    color: blue;
    margin-left: 5px;
}
.imageSection>img+h2+p{
    margin-left: 5px;
}
.imageSection>img+h2+p+p
{
    font-size: 12px;
    margin-left: 5px;
}

#showImg{
    margin-left: 30px;
    /* border-bottom: underline; */
}
#showImg>h2{
    border-bottom: 1px solid grey;
    width: 96%;
}
#box{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(1,300px);
    width: 97%;
}
/* #box>div{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
} */
.boxImg>img{
    width: 40%;
    margin: 30px 60px 0 60px;
}
.boxImg>p+h3{
    padding-top: 20px;
}
#boxImg2>img{
    width: 40%;
    margin-top: 50px;
    margin-left: 20px;
}
#boxImg2>img+p{
    color: blue;
}
.boxImg>img+p{
    color: blue;
}
.boxImg>img+p+h3{
    margin-top: -15px;
}
#boxImg1>img{
    width: 30%;
    margin-top: 30px;
    margin-left: 40px;
}
#boxImg1>img+p{
    color: blue;
    margin-top: 24px;
}
#showImg2{
    margin-left: 25px;
}
#showImg3>h2{
    border-bottom: 1px solid rgb(173, 171, 171);
    width: 95%;
}
#showImg2>h2{
    border-bottom: 1px solid grey;
    width: 95%;
}
#bigBox{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,350px);
    gap: 20px;
    width: 95%;
    margin: auto;
    margin-top: 20px;
    
}
#bigBox>div{
    border: 1px solid rebeccapurple;
  
}
.bigImg>img{
    width: 80%;
    margin: 20px 60px 0 40px;
}
.bigImg>img+h2{
    color: blue;
}

.bigImg2>img+h2{
color: blue;
/* margin-top: -5px; */

}
#showImg3{
width: 97%;
margin: auto;
margin-top: 20px;
}
#showImg3>h2{
    margin-left: 25px;
    
}
.lastImg>img{
    width: 50%;
    margin: 20px 0 0 40px;
}
.lastImg>img+p{
    color: blue;
    font-size: 15px;
    margin-top: 10px;
    
}
#lastImg>img{
    width: 30%;
    margin: 20px 0 0 60px;
}
#lastImg>img+p{
    color: blue;
}
#lastImg1>img{
    width: 70%;
    margin-top: 10px;
}
#lastImg1>img+p{
    color: blue;
}
#lastImg2>img{
    width: 55%;
    margin-top: 10px;
}
img{
    cursor: pointer;
}
p{
    color: blue;
    cursor: pointer;
}
p:hover{
    text-decoration: underline;
}
a{
    
    text-decoration: none;
}
button{
    cursor: pointer;

}
button:hover{
    background-color:white;
    color:blue;

}


