*{
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: #f0f2f4; */
}
.mainbox {
    height: 720px;
    width: 100%;
    border: 1px solid white;
    /* margin: auto; */
    background-color: #f0f2f4;
    box-sizing: border-box;
    display: flex;
    gap: 40px;
}
.mainbox1 {
    height: 680px;
    width: 47%;
    margin: 20px;
    
    
    
}
.mainbox1a{
    height: 100%;
    min-width:109%;
    
    border: 1px solid #f0f2f4;
    box-sizing: border-box;
    stroke-width: 20px;
    background-image: url(https://pisces.bbystatic.com/image2/BestBuy_US/Gallery/GL-61389-ghp-outlet-032921-213076.png);
}
.mainbox1aText{
    margin-top: 480px;
    text-align: center;
    font-size: 12px;
    margin-left: 45px;
}
.mainbox_btn{
    height: 30px;
    width: 122px;
    border-radius: 5px;
    background-color: #0046be;
    color: white;
    border: none;
    font-weight: bold;
}
.mainbox2{
    height: 680px;
    width: 44%;
    margin: 20px;
    border: 1px solid #f0f2f4;
    display: grid;  
    /* flex-direction: column;   */
    gap: 20px;
}
.mainbox2b{
    height: 390px;
    width: 100%;
    background-color: white;
    border: 1px solid #f0f2f4;
}
/* .mainbox2b{
    height: 100%;
    margin: 100%;
    
} */
/* .mainbox2ba{
    display: flex;
} */


.mainbox2c{
    height: 263px;
    width: 100%;
    background-color: white;
    /* padding-bottom: -10px; */
    border: 1px solid #f0f2f4;
}
.mainbox2c1 {
    height: 90px;
}
.mainbox2c1a{
    display: flex;
    margin-left: 20px;
    
}
.mainbox2c1atext h2{
    background-color:#bb0628;
    color: white;
    padding: 4px;
    margin-right: 5px;
}
.mainbox2c1a a{
     padding-top: 19px;
     box-sizing: border-box;
     margin-left: 250px;
    text-decoration: none;
    color: #3390ff;
}
.mainbox2c2{
    display: flex;
    
}
.mainbox2c2a{
    height: auto;
    width: 20%;
    margin-left: 50px;
}
.mainbox2c2a img{
    height: 140px;
    width: 50px;
    
}
.mainbox2c2b a {
    text-decoration: none;
    color: #3390ff;
}
/* .mainbox2c2b h4 {
    
    margin-top: -1px;
} */
.mainbox2c2b p {
    margin-top: -15px;
    text-decoration: line-through;
}

.mostview_box{
    height: 600px;
    width: 100%;
    background-color: white;
}
.mostview_boxa{
    height: 60px;
    width: 97%;
    margin-left: 40px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}
.mostview_boxa h2{
    padding-top: 10px;
    /* text-decoration: underline; */
}
.mostview_boxb{
    height: 261px;
    /* border: 1px solid black; */
    width: 97%;
    margin-top: 50px;
    margin-left: 40px;
    display: flex;
    gap: 30px;
}
.mostview_boxb1{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    height: 100%;
    width: 50%;
    
}
.mostview_boxb1img{
    height: 130px;
    width: 141px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
.mostview_boxb1img img {
    height: 140px;
    width: 140px;
}
.mostview_boxb1a {
    /* font-size: 14px;
    color: #bb0628;
    
    text-decoration: none;
    padding: 20px; */
    margin: auto;
}
.mostview_boxb1a a{
    font-size: 14px;
    color: #bb0628;
    
    text-decoration: none;
    
}

.mostview_boxc {
    height: 100px;
    width: 98%;
    margin: auto;
    margin-top: 80px;
    /* border: 1px solid black; */
    display: flex;
    gap: 40px;
}
.mostview_boxc1{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    line-height: 5px;
    background-color: #f0f2f4;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;

}
.mostview_boxc1text a{
    text-decoration: none;
    font-size: 15px;
}
.mostview_boxc1text h2{
    
    font-size: 20px;
}
.mbox3{
    height: 500px;
    width: 100%;
    background-color: #f0f2f4 ;
    display: flex;
    gap: 15px;
}
.mbox3img{
    height: 100%;
    width: 50%;
    /* border: 1px solid black; */
    padding: 20px;
    box-sizing: border-box;
}
.mbox3img img {
    height: 100%;
    width: 100%;
}
.mbox4{
    height: 300px;
    width: 100%;
    background-color: white;
}
.mboxa4{
    height: 150px;
    width: 100%;
    display: flex;
    gap: 20px;
    /* margin-left: 40px; */
}
.mboxa4a{
    height: 100%;
    width: 30%;
    /* border: 1px solid black; */
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    line-height: 5px;

}
.mboxa4a img {
    height: 60px;
}
.mboxa4a h2 {
    font-size: 19px;
}
.mboxa4a p{
    font-size: 13px;
}
.mboxa4a #p {
    font-size: 11px;
    color: gray;
}
.mboxb4 img{
    width: 100%;
}

.mbox3{
    height: 550px;
    width: 100%;
    display: flex;
    /* border: 1px solid black; */
    gap: 25px;
}
.pro_box{
    height: 100%;
    width: 49%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f0f2f4;
    /* border: 1px solid red; */
   
}
.pro_box h2{
    margin-top: 1px;
}

.pro_box1{
     display: grid;
     /* gap: 10px; */
     column-gap: 22px;
     row-gap: 22px;
     /* justify-content: space-between; */
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
}
.pro_box1 a {
    text-decoration: none;
    color: #0497dc;
}


.pro_box img {
   height:175px;
   width:185px;
   border-radius: 5px;
}





.offers_box{
    height: 368px;
    width: 100%;
    display: flex;
    gap: 15px;
    margin-top: 20px;
    /* border: 1px solid black ; */

}
.offer_box_a{
    height: 100%;
    width: 50%;
    margin-left: 20px;
    
}
.offer_box_a + hr {
    height: 368px;
    /* color: blue; */
    /* border-left: 6px solid green; */
}
.offer_box_a img {
    height: 217px;
    width: 350px;
    margin-left: 18px;
    margin-bottom: -9px;
}
.offer_box_a a {
    text-decoration: none;
    /* margin-left: 20px; */
    color: #0497dc;
    font-size: 24px;
}
.offer_box_a p{
    font-size: 14px;
}
#offer_box_a_p {
    font-size: 12px;
    color: #55555a;
}

#box{
    height:300px;
    width: 100%;
    margin-top: 20px;
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: repeat(5,1fr);
    /* margin-bottom: 500px; */
}
#smallbox{
    height: 100%;
    width: 94%;
    margin-left: 20px;
    margin-right: 20px;
    /* border: 1px solid red; */
    justify-content: center;
}
#smallbox img{
    width: 85%;
    margin-left: 20px;
    height: 150px;
    justify-content: center;
    margin-bottom: 18px;
}
#smallbox a{
    text-decoration: none;
    color: #0457c8;
    font-size: 16px;
    
}
#smallbox p {
    margin-top: 3px;
    font-size: 15px;
}
#smallbox h3 {
    margin-top: -10px;
    margin-bottom: 1px;
    font-size: 21px;
}