header{
    height: 130px;
    background-color: rgb(9, 53, 197);
    margin: -1%;
    margin-bottom: 0%;
    margin-right: -0.5%;
    font-family: Arial, Helvetica, sans-serif;
}
#nav1{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
#nav1>img{
    width: 70px;
    height: 35px;
}
#nav1 i{
    font-size: 30px;
    color: white;
}
#nav1 i:nth-child(2)
{
    font-size: 23px;
    color: blue;
    background-color: white;
    padding: 2px;
}
#menu a{
    font-size: 20px;
    color: white;
    text-decoration: none;
}
#menu p{
    font-size: 20px;
    font-weight: bold;
}
#nav1 input{
    width: 350px;
    height: 30px;
}
form{
    width: 400px;
    display: flex;
    /* justify-content: space-between; */
    /* background-color: white; */
}
#location a{
    font-size: 20px;
    text-decoration: none;
    color: white;
}
#cart a{
    font-size: 20px;
    color: white;
    text-decoration: none;
}
#cart a:hover{
    text-decoration: underline;
}
.hr{
    width: 100%;
    height: 1px;
    background-color: rgb(40, 79, 252);
}
#nav2{

    display: flex;
    justify-content: space-between;
}
#shop{
    width: 50%;
    display: flex;
    justify-content: space-around;

}
#order{
    width: 43%;
    display: flex;
    justify-content: space-around;
}
#shop a{
    color: white;
    text-decoration: none;
}
#shop a:hover{
    text-decoration: underline;
}
#order a{
    color: white;
    text-decoration: none;
}


@media only screen and (min-width:520px) and (max-width:760px) {
    #nav1 a{
        font-size: 14px;
    }
   #nav1 i{
       font-size: 18px;
   }
   #nav1 i:nth-child(2)
{
    font-size: 16px;
    padding: 1px;
}
   #nav2 a{
       font-size: 14px;
   }
   form{
       width: 30px;
       height: 11px;
   }
   form>input{
       width: 25px;
       height: 10px;
   }
}



@media only screen and (min-width:260px) and (max-width:519px) {
    #nav1 a{
        font-size: 7px;
    }
   #nav1 i{
       font-size: 9px;
   }
   #nav1 i:nth-child(2)
{
    font-size: 9px;
    padding: 1px;
}
   #nav2 a{
       font-size:7px;
   }
   form{
       width: 25px;
       height: 9px;
   }
   input{
       width: 30px;
       height: 7px;
   }
}

@media only screen and (min-width:170px) and (max-width:259px) {
    #nav1 a{
        font-size: 4px;
    }
   #nav1 i{
       font-size: 5px;
       padding: 0%;
   }
   #nav2 a{
       font-size:5px;
   }
   form{
       width: 20px;
       height: 7px;
   }
   input{
       width: 15px;
       height: 4px;
   }
}




