#top_deals{
    width: 70%;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    margin-left: 5%;
}
#redbox{
    background-color: #E81E25;
    padding: 2px 100px;
    color: white;
    /* border: 1px solid black; */
    transform: skewX(-40deg);
    height: 50px;
    position: absolute;
}
#text_td{
    position: relative;
    margin-top: -27px;
    margin-left: 100px;
    color: white;
    font-size: 25px;
}
.text_p{
    margin-left: 300px;
    
}
#slideshow {
color: white;
margin-top: 10px;
background-color: white;

}
.container-fluid {
    padding: 0% 3%;
}
.commonCSS {
    margin-top: 10px;
    height: 400px;
}
.carousel-control-prev, .carousel-control-next {
    width: 3%;  
}
.carousel-control-prev{
    margin-left: 15%;
}
.carousel-control-next{
    margin-right: 15%;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: #ff6f61;
    height: 30px;
    width: 20px;
    margin-top: -280px;
}
.slideData {
    display: flex;
    gap: 10%;
    width: 60%;
    height: 100%;
    text-align: center;
    line-height: 10px;
    color: black;
    margin-left: 20%;
}
#card4,#card5,#card6,#card7,#card8,#card9{
    width: 25%;
    height: 220px;
    background-color: white;
    text-align: center;
}
#card4:hover,#card5:hover,#card6:hover,#card7:hover,#card8:hover,#card9:hover{
    border: 3px solid rgb(125, 125, 211);
    transition: 0.4s;
    border-radius: 15px;
    height: 220px;
    padding: 10px;

}
/* #carousal{
    display: grid;
    grid-template-columns: repeat(9,1fr);
    overflow: auto;
    max-width: 1200px;
    margin: auto;
    gap: 25px;
} */
img{
    margin-bottom: 25px;
}
#cata{
    margin-top: -180px;
}
#buttons{
    display: flex;
    margin-top: 20px;
    width: 90%;
    margin: auto;
}
.butt{
    margin-left: 1%;
    background-color: white;
    color: rgb(57, 55, 55);
    border: 0.5px solid rgb(57, 55, 55);
    border-radius: 5px;
    padding: 5px 5px;
}
.but{
    margin-left: 1%;
    background-color: white;
    color: rgb(57, 55, 55);
    border: 0.5px solid rgb(57, 55, 55);
    border-radius: 5px;
    padding: 15px 15px;
}
.butt:hover{

    background-color:#002ead;
    transition: 0.7s;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 5px;
}
.but:hover{

    background-color:#002ead;
    transition: 0.7s;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px 15px;
}
#my_nav{
    margin-left: 2%;
    top: 120px;
    background-color: white;
    position: sticky;
    z-index: 2;
    padding-bottom: 20px;
}
#single_line{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#img1{
    /* border: 1px solid teal; */
    width: 96%;
    margin-left: 2%;
    margin-top: 2%;
    /* margin-bottom: 50px; */
    position: absolute;
}

.p1{
    width: 100%;  
}

#rel1{
    position: 
    relative;
    z-index: 1;
    margin-left: 5%;
    margin-top: -60%;
    width: 380px;
    line-height: 5px;
}
#rel2{
    position: 
    relative;
    z-index: 1;
    margin-left: 8%;
    margin-top: 40%;
    width: 400px;
    line-height: 5px;
}
.t300{
    font-size:70px;
}
#rel1>img{
    width: 150px;
}
#flat_boxes{
    display: flex;
    width: 90%;
    
    margin: auto;
    justify-content: space-evenly;
    margin-top: 180px;
    align-items: center;
}
.left_box,.right_box{
    border: 1px solid rgb(214, 211, 211);
    width: 46%;
    height:110px;
    background-color: #F0F2F4;
    display: flex;
    justify-content:center ;
    align-items: center;
    padding: 5px 5px;
    line-height: 5px;
    border-radius: 4px;
}
.round_img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin-top: 20px;
}
*{
font-family:human system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
a{
text-decoration: none;
}
#res{
width: 80%;
display: grid;
margin: auto;
margin-top: 200px;
grid-template-columns: repeat(3,1fr);
gap: 5px;
}
#card{
border: 0.5px solid rgb(234, 234, 245);
padding: 10px;
border-radius: 10px;
text-align: center;
}
/* #card>img{
width: 90%;
} */
.logos{
height: 50px;
}
.images{
/* width: 60%; */
height: 210px;
}
#buy{
    background-color:#002ead;
    transition: 0.7s;
    color: white;
    /* border: 2px solid rgb(57, 55, 55); */
    border-radius: 5px;
    padding: 3px 30px;
    border: none;
    margin-bottom: 20px;
}
#buy:hover{
    background-color: white;
    transition: 0.7s;
    color:#002ead;
    border: 1px solid #002ead;
    border-radius: 5px;
    padding: 3px 30px;
    margin-bottom: 20px;
   
}
#appl{
    margin-top: 50px;
    margin-left: 2%;
}
